/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

* {
    font-family: Helvetica;
}

h2 {
    color: #1fabe5;
}

title {
    color: white;
    text-transform: uppercase;
}

h3 {
    color: #1fabe5;
}

p a {
    color: #1fabe5;
}

li {
    font-weight: bold;
}

div header {
    background-color: #ff8523;
    padding: 20px 20px 30px 20px;
}

.main_navigation a {
    border: solid 1px white;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 15px 5px 15px;
}

body {
    background-image: url("img/bg.jpg");
    border-color: yellow;
    border-style: solid;
    border-width: .10em;
    margin: 40px 50px;
}

section {
    border-bottom: solid #eee;
    padding: 35px;
    border-width: thick;
}

#page_content {
    background-color: white;
    padding: 34px;
}

table {
    width: 100%;
}

table, td {
    border: 1px solid #1fabe5;
    border-collapse: collapse;
}

tbody td {
    padding: 10px;
}

tbody td img {
    height: 50px;
}

thead td {
    background-color: #1fabe5;
    color: #fff;
    border: 1px solid #046c97;
    padding: 10px;
}

form {
    border: solid #eee;
    background-color: #eee;
    border-radius: 1em;
    padding: 30px;
}

.name {
    border-style: solid #ff8523;
    background-color: #ff8523;
    border-radius: .5em;
    padding: 30px;
    color: #eee;
}

.city_container {
    font-weight: bold;
    padding: 30px 0 30px 0;
}

label {
    font-weight: bold;
}

#bio {
    border-color: #1fabe5;
    font-weight: 400;
    width: 98%;
    height: 200px;
    padding: 10px;
    font-size: 16px
}

#submit_button {
    border-style: solid;
    border-color: #1fabe5;
    background-color: #1fabe5;
    color: white;
    border-radius: .2em;
}


/* tbody td {
    padding: 10px;
}

table, tr, td {
    border: 2px solid #1fabe5;
    border-collapse: collapse;
}

table thead td {
    background-color: #1fabe5;
    color: white;
    border: 2px solid #1fabe5;
    border-color: #046c97;
    padding: 10px;
}

table {
    width: 100%;
}

tbody td img {
    height: 50px;
} */